
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    
}

button{
    border: 0;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */



.board_faq > div{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.board_faq article{
    display: flex;
    width: 100%;
}
.board_faq article + article{
    margin-top: 40px;
}
.board_list .counter + article{
    margin-top: 20px;
}
.board_faq article + article + article{
    margin-top: 20px;
}

.board_faq .tab dl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}



/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* 탭 메뉴 정렬 */

.board_faq .tab dl dt{
/* .board_faq .tab dl dd{ */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    flex: 1 1 10%;
    /* min-width: 184px; */
    height: 54px;
}
.board_faq .tab dl dt ~ dt{
    margin-left: -1px;
}
/* .board_faq .tab dl dt:nth-of-type(5){
    margin-left-start: 0px;
} */
.board_faq .tab dl dt a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #707070;
    font: bold 17px/1.3em "맑은 고딕";
    border: 1px solid #e4e4e4;
    background: #fff;
}

.board_faq .tab dl dt a.on{
    background: #830020;
    border: 1px solid #830020;
    color: #ffffff;
    text-shadow: 1px 1px 0px #36010f;
    z-index: 1;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */



/* h1 제목 부분 */

.board_faq article h1{
    display: flex;
    align-items: center;
    font: bold 23px/1.3em "맑은 고딕";
    color: #000;
}
.board_faq article h1:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 22px;
    margin-right: 10px;
    background: url(../../../images/iosf/content/board/icon_titlebar_4x22.png)center/4px 22px;
}







/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */

/* 카운터, 카테고리, 검색 부분 */


.board_faq .counter div{
    align-items: center;
    display: flex;
    border: 1px solid #dbdbdb;
    /* background: green; */
    min-height: 40px;
    margin-right: auto;
    /* height: 0px; */
}

.board_faq .counter div p:first-of-type{
    display: flex;
    align-items: center;
    font: 13px/1.3em "맑은 고딕";
    color: #735231;
    padding: 11px 13px;
    min-height: 100%;
    background: #f6f6f6;
    border-right: 1px solid #dbdbdb;
}
.board_faq .counter div p{
    font: 15px/1.3em "맑은 고딕";
    padding: 10px 13px;
    color: #830020;
}
.board_faq .counter div p span{
    font: 13px/1.3em "맑은 고딕";
    color: #000;
}


.board_faq article form{
    display: flex;
}
.board_faq article select{
    min-width: 94px;
    min-height: 40px;
    padding: 0 20px 1px 10px;
    padding-right: 30px;
    background: url(../../../images/iosf/content/board/image_arrowdown_20x4.png)no-repeat right 52%/ 20px 4px;
    font: 15px/1.3em "맑은 고딕";
    color: #000;
    border: 1px solid #dbdbdb;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.board_faq article select::-ms-expand{
    display: none;
}


.board_faq article select::before{
    content:"";
    display: inline-block;
    width: 8px;
    height: 4px;
    background: #000;
    top: 0;
    right: 0;
}

.board_faq article select{
    margin-right: 10px;
}
.board_faq article select:last-of-type{
    margin-right: 0px;
}
.board_faq article select + button{
    margin-left: 10px;
}

.board_faq article input{
    margin-left: 10px;
}
.board_faq article select option{
    font: 15px/1.3em "맑은 고딕";
    color: #000;
}



.board_faq article input{
    font: 15px/1.3em "맑은 고딕";
    width: 174px;
    min-height: 40px;
    padding: 0px 10px 2px 10px;
    margin-right: -1px;
    border: 1px solid #dbdbdb;
}
.board_faq article input::placeholder{
    font: 15px/1.3em "맑은 고딕";
    color: #b5b5b5;
    /* vertical-align: middle; */
}
.board_faq article input:-ms-input-placeholder{
    font: 15px/1.3em "맑은 고딕";
    color: #b5b5b5;
}


.board_faq article form button{
    padding: 0 10px;
    font: bold 15px/1.3em "맑은 고딕";
    color: #fff;
    text-shadow: 1px 1px 0 #5e4f37;
    min-width: 64px;
    /* width: 42px; */
    height: 42px;
    background: 
    /* url(../../../images/iosf/content/board/icon_search_18x18.png)no-repeat center/18px 18px, */
    #8f816a;
} 


/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */



/* faq 리스트 faq_list 세팅 */

/* 질문 부분 */

.board_faq .faq_list{
    flex-direction: column;
    width: 100%;
}

.board_faq .faq_list dl{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.board_faq .faq_list dl ~ dl{
    margin-top: 20px;
}

.board_faq .faq_list dl dt,
.board_faq .faq_list dl dd{
    display: flex;
}
.board_faq .faq_list dl dt div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 20px 30px;
    margin-right: auto;
}
.board_faq .faq_list dl dt{
    position: relative;
    width: 100%;
    /* flex: 0 0 100%; */
    /* height: 100%; */
    background: #fff;
    border: 1px solid #dbdbdb;
    border-bottom: 1px solid #c8c8c8;
}
.board_faq .faq_list dl dt.on{
    border-bottom: 0px solid #c8c8c8;
}


.board_faq .faq_list dl dd{
    flex-direction: column;
    display: none;

}

.board_faq .faq_list dl dt:before{
    content: "";
    position: absolute;
    width: 64px;
    height: 5px;
    background: #830020;
    top: 0;
    left: 20px;
}

.board_faq .faq_list dl dt:hover{
    cursor: pointer;
}
.board_faq .faq_list dl dt:hover div p{
    text-decoration: underline;
    text-underline-position: under;
}


.board_faq .faq_list dl dt span,
.board_faq .faq_list dl dt small,
.board_faq .faq_list dl dd span{
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: bold 13px/1.3em "맑은 고딕";
    min-width: 64px;
    padding: 5px 10px 6px;
}

.board_faq .faq_list dl dt span{
    text-shadow: 1px 1px 0 #434343;
    color: #fff;
    background: #6b6b6b;
    border: 1px solid #646464;
    margin-right: 8px;
}
.board_faq .faq_list dl dt small{
    color: #967c57;
    background: #fff;
    border: 1px solid #e6e6e6;
}

.board_faq .faq_list dl dt p{
    font: 17px/1.3em "맑은 고딕";
    color: #000;
    margin-top: 20px;
    flex: 0 0 100%;
    height: 100%;
    line-height: 1.3em;
}
.board_faq .faq_list dl dt button{
    display: block;
    flex: 0 0 67px;
    /* width: 67px; */
    /* height: 100%; */
    border-left: 1px solid #f0f0f0;
    background:
    url(../../../images/iosf/content/board/image_moreopen_26x26.png)no-repeat center/ 26px 26px
     #fff;
}
.board_faq .faq_list dl dt.on button{
    background:
    url(../../../images/iosf/content/board/image_moreclose_26x26.png)no-repeat center/ 26px 26px
    #fff;
}


/* 답변 부분 */


.board_faq .faq_list dl dd{
    /* position: relative; */
    /* top: -1px; */
    overflow: hidden;
    background: #f6f6f6;
    border: 1px solid #dbdbdb;
    border-bottom: 1px solid #c8c8c8;
    /* height: 100%; */
    transition: all, 0.3s;
}

/* .board_faq .faq_list dl dd div{
    position: absolute;
} */


.board_faq .faq_list dl dt + dd,
.board_faq .faq_list dl dd{
    /* display: none; */
    background: #f6f6f6;
    top: 100%;
    border: 1px solid #dbdbdb;
    /* border-top: 0px solid #000; */
    border-bottom: 1px solid #c8c8c8;
    /* height: 100%; */
    transition: all, 0.3s;
}
/* .board_faq .faq_list dl dt:hover + dd div{
    position: relative;
} */

.board_faq .faq_list dl dd div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px 20px;
}
.board_faq .faq_list dl dd span{
    text-shadow: 1px 1px 0 #5a533d;
    color: #fff;
    background: #aca288;
    border: 1px solid #9c957b;
    height: 28px;
    margin-right: 4px;
}
.board_faq .faq_list dl dd p{
    font: 15px/1.3em "맑은 고딕";
    /* height: 100%; */
    color: #535353;
    flex: 0 0 100%;
    line-height: 1.3em;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.board_faq .faq_list dl dd button{
    /* text-align: center; */
    margin: auto;
    margin-top: 20px;
    font: bold 15px/1.3em "맑은 고딕";
    color: #000;
    min-width: 100px;
    padding: 8px 10px 9px;
    background: #f8f7f7;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
}
.board_faq .faq_list dl dd button:hover{
    background: #fff;
}






/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* 게시판 테이블 기본 */

table,tr,th,td{
    border-spacing: 0;
    border-collapse: separate;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */



/* 게시글이 하나도 없을 떄 */



.board_faq article table tr.empty td{
    width: 100%;
    height: 66px;
    background: #f6f6f6;
}
.board_faq article table tr.empty td p{
    display: flex;
    align-items: center;
    justify-content: center;
    font:normal 15px/1.3em "맑은 고딕";
    color: #959595;
    /* padding-left: -25px; */
}
.board_faq article table tr.empty td p:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: -2px;
    background: url(../../../images/iosf/content/board/icon_alert_20x20.png)no-repeat center/20px 20px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* 리스트 테이블 기본 박스 라인 세팅 */


.board_faq article table{
    width: 100%;
    border-top: 2px solid #830020;
    border-bottom: 1px solid #414141;
}

.board_faq article table tr th,
.board_faq article table tr td{
    font: 15px/1.3em "맑은 고딕";
    color: #313131;
    padding: 13px 13px;
    text-align: center;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.board_faq article table tr th:last-of-type,
.board_faq article table tr td:last-of-type{
    border-right: 1px solid #e6e6e6;
}



/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* 공지사항 번호 박스처리*/



.board_faq article table .notice td{
    background: #fcfbf9;
}
.board_faq article table .notice td b{
    font: bold 13px/1.3em "맑은 고딕";
    color: #fff;
    text-shadow: 1px 1px 0 #434343;
    padding: 4px 8px 5px;
    background: #6b6b6b;
}
.board_faq article table td b{
    font: normal 15px/1.3em "맑은 고딕";
    color: #313131;
}


/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */





.board_faq article table tr th{
    color: #735231;
    border-bottom: 1px solid #c8c8c8;
}

.board_faq article table tr:last-of-type td{
    border-bottom: 0px solid #000;
    /* margin-bottom: 10px; */
}

.board_faq article table tr .title{
    text-align: left;
}

.board_faq article table tr .title.new span{
    display: inline-flex;
    vertical-align: bottom;
    width: 44px;
    height: 18px;
    /* border-radius: 10px; */
    background: 
    url(../../../images/iosf/content/board/image_new_44x18.png)no-repeat center/44px 18px;
    /* #f67400; */
    margin-left: 3px;
    margin-bottom: 1px;
}
/* .board_faq article table tr .title.new span:before{
    content: "NEW";
    font: bold 12px/1.3em "맑은 고딕";
    color: #fff;
    text-shadow: 1px 1px 1px #ce4c19;
    vertical-align:auto;
    margin: auto;
} */

.board_faq article table tr td.name,
.board_faq article table tr td.date{
    width: 13%;
}

.board_faq article table tr td button{
    text-align: left;
    font: 15px/1.3em "맑은 고딕";
    line-height: 1.5em;
    color: #000;
    background: #fff;
    /* margin-right: 6px; */
}
.board_faq article table .notice .title button{
    background: #fcfbf9;
    width: 100%;
}

.board_faq article table tr td button:hover{
    text-decoration: underline;
    text-underline-position: under;

}



/* 페이징 버튼 */

section .paging dl,
section .paging dt,
section .paging dd{
    display: flex;
    align-items: center;
}
section .paging dt{
    margin: 0 10px;
}

section .paging dt button,
section .paging dd button{
    font: 15px/1.3em "맑은 고딕";
    color: #313131;
    width: 38px;
    height: 38px;
    border: 1px solid #e3e3e3;
    border-left: 0;
    background: #fff;
    transition: all 0.2s;
}

section .paging dt button:first-of-type,
section .paging dd button:first-of-type{
    border-left: 1px solid #e3e3e3;
}

section .paging dd button.on{
    background: #64001a;
    color: #fff;
    border: 1px solid #64001a;
    transition: all 0.1s;
}

section .paging dl{
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}
section .paging dt:first-of-type button{
    background: 
    url(../../../images/iosf/content/event/icon_paging_prev_7x12.png)no-repeat center;
    background-size: 7px 12px;
}
section .paging dt:first-of-type button:first-of-type{
    background: 
    url(../../../images/iosf/content/event/icon_paging_first_10x12.png)no-repeat center;
    background-size: 10px 12px;
}
section .paging dt:last-of-type button{
    background: 
    url(../../../images/iosf/content/event/icon_paging_next_7x12.png)no-repeat center;
    background-size: 7px 12px;
}
section .paging dt:last-of-type button:last-of-type{
    background: 
    url(../../../images/iosf/content/event/icon_paging_last_10x12.png)no-repeat center;
    background-size: 10px 12px;
}

/* 페이징 버튼 end*/

/* 페이징 버튼 모바일 비활성 */
section .paging .mobile{
    display: none;
    margin: 0 13px;
}
section .paging .mobile p{
    font: bold 17px/1.3em "맑은 고딕";
    color: #991233;
}
section .paging .mobile p:last-of-type{
    font-weight: normal;
    color: #313131;
}
section .paging .mobile small{
    font-size: 18px;
    margin: 0 2px;
    color: #a0a0a0;
}

@media screen and (max-width: 960px ){


    /* ----------------------------------------------------------------------------------------------------------------------- */
    /* 탭 메뉴 정렬 */

    .board_faq .tab dl dt{
        flex: 1 1 33.333%;
    }
    .board_faq .tab dl dt:nth-of-type(4){
        margin-left: 0;
    }
    .board_faq .tab dl dt:nth-of-type(3) ~ dt{
        margin-top: -1px;
    }
    
    /* ----------------------------------------------------------------------------------------------------------------------- */

}





/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




@media screen and (max-width: 768px ){

    

    .board_faq article table tr th,
    .board_faq article table tr td,
    .board_faq article table tr td:last-of-type{
    /* background: #000; */
        border: 0px solid #000;
    }
    
    .board_faq article table thead{
        display: none;
    }
    .board_faq article h1{
        font: bold 19px/1.3em "맑은 고딕";
    }
    .board_faq article h1:before{
        width: 3px;
        height: 18px;
        margin-right: 10px;
        background: url(../../../images/iosf/content/board/icon_titlebar_4x22.png)center/4px 22px;
    }


/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* 게시글이 하나도 없을 떄 */


.board_faq article table tr.empty{
    border: 0px solid #000;
}
.board_faq article table tr.empty td{
    width: calc(100% + 40px);
    /* margin: 0px -20px; */
}
.board_faq article table tr.empty td p{
    width: calc(100vw - 40px);
    margin: 0 -20px;
    min-width: 310px;
    height: 66px;
    background: #f6f6f6;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */


    
    .board_faq article table tbody tr{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        /* flex-direction: column; */
        border: 1px solid #e4e4e4;
        border-top: 0 solid #e4e4e4;
    }
    .board_faq article table tbody tr:last-of-type{
        border-bottom: 0px solid #000;
    }
    .board_faq article table tbody tr td{
        padding: 0;
        /* display: inline-flex; */
    }

    .board_faq article table tbody tr td.title{
        display: flex;
        /* width: calc(100% - 40px); */
        flex: 1 0 90%;
    }

    .board_faq article table .notice td b{
        background: #6b6b6b;
    }
    .board_faq article table .notice {
        background: #fcfbf9;
    }


    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */
    /* 공지사항이 아닌 글 박스처리 */

    .board_faq article table td b{
        display: inline-block;
        min-width: 64px;
        height: 28px;
        font: bold 13px/1.3em "맑은 고딕";
        color: #fff;
        text-shadow: 1px 1px 0 #77674f;
        padding: 4px 8px 5px;
        background: #b2a28a;
        margin-right: 10px;
    }

    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */
    /* --------------------------------------------------------------------- */

    
    .board_faq article table td p{
        font: bold 13px/1.3em "맑은 고딕";
        display: inline-flex;
        align-items: center;
        min-width: 64px;
        height: 28px;
        padding: 4px 8px 5px;
        color: #967c57;
        background: #fff;
        border: 1px solid #e6e6e6;
    }
    .board_faq article table tr .title{
        margin-top: 15px;
        margin-bottom: 16px;
    }
    .board_faq article table tr .title.new button:after{
        margin-bottom: 1px;
    }
    .board_faq article table tr td button{
        font: bold 19px/1.3em "맑은 고딕";
        line-height: 1.2em;
    }

    .board_faq article table tr td.name,
    .board_faq article table tr td.date{
        width:auto;
    }
    
    
    .board_faq article table tr td.name,
    .board_faq article table tr td.name ~ td{
        text-align: left;
        display: inline-flex;
        align-items: center;
        font: 13px/1.3em "맑은 고딕";
        color: #626262;
        bottom: 20px;
        margin-right: 13px;
    }
    .board_faq article table tr td.name{

        /* flex: 1 1 90%; */
    }

    /* .board_faq article table tr td{
        margin-right: 10px;
    }
    .board_faq article table tr td.title{
        margin-right: 0px;
    } */

    .board_faq article table tr td.name:before,
    .board_faq article table tr td.date:before,
    .board_faq article table tr td.viewcount:before{
        content: "";
        display: inline-block;
        width: 17px;
        height: 16px;
        vertical-align: middle;
        margin-bottom: -1px;
        margin-right: 5px;
    }
    .board_faq article table tr td.name:before{
        background: url(../../../images/iosf/content/board/icon_name_16x14.png)no-repeat center/14px 14px;
        /* vertical-align: top; */
    }
    .board_faq article table tr td.date:before{
        background: url(../../../images/iosf/content/board/icon_date_16x14.png)no-repeat center/14px 14px;
    }
    .board_faq article table tr td.viewcount:before{
        background: url(../../../images/iosf/content/board/icon_viewcount_16x14.png)no-repeat center/17px 12px;
    }

    
    
}


/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */




@media screen and (max-width: 640px ){

    /* ----------------------------------------------------------------------------------------------------------------------- */
    /* 탭 메뉴 정렬 */

    .board_faq .tab dl dt{
        flex: 0 1 50%;
    }
    .board_faq .tab dl dt:nth-of-type(n){
        margin-left: -1px;
    }
    .board_faq .tab dl dt:nth-child(odd){
        margin-left: 0px;
    }
    .board_faq .tab dl dt:nth-of-type(2n + 3){
        /* margin-left: 0; */
    }
    .board_faq .tab dl dt:nth-of-type(2) ~ dt{
        margin-top: -1px;
    }
    
    /* ----------------------------------------------------------------------------------------------------------------------- */
    
    .board_faq .counter div{
        width: 100%;
        height: 100%;
        /* flex: 1 1 100%; */
    }

    .board_faq .counter div p:first-of-type{
        display: block;
        /* flex: 1 1 70px; */
        /* min-width: 70px; */
        height: 100%;
    }
    .board_faq .counter div p + p{
        width: 100%;
        text-align: right;
    }
    
    .board_faq .counter{
        flex-direction: column;
        width: 100%;
    }
    .board_faq .counter form{
        margin-top: 20px;
    }

    .board_faq article select{
        flex: 1 0 10%;
    }
    
    .board_faq article input{
        width: 100px;
        flex: 1 1 30px;
    }

    .board_faq .faq_list dl dt{
        display: block;
        position: relative;
    }
    .board_faq .faq_list dl dt button{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        border-bottom: 1px solid #e6e6e6;
    }
    

    .board_faq article table tbody tr{
        width: 100%;
        margin-right: -180px;
    }

    /* 모바일 페이징 활성 */

    .board_faq .paging dd{
        display: none;
    }
    .board_faq .paging .mobile{
        display: flex;
    }

}



/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */





@media screen and (max-width: 480px ){

    .board_faq .counter form{
        flex-wrap: wrap;
    }
    .board_faq article select{
        flex: 1 1 25%;
        
    }
    /* .board_faq article {
        overflow: hidden;
    } */

    .board_faq article input{
        flex: 1 0 75%;
        /* width: 100%; */
        margin-left: 0px;
        margin-top: 10px;
    }
    .board_faq .counter input,
    .board_faq .counter input + button{
        margin-top: 10px;
    }

    .board_faq article table tr td.name{
        flex: 0 0 100%;
        margin-bottom: 6px;
        margin-right: -20px;
        /* padding-right: 20px; */
        /* white-space: nowrap; */
        /* word-break: break-all; */
        /* word-wrap: break-word; */
    }
    .board_faq article table tr td.name:before{
        align-items: flex-start;
    }
    
    .board_faq article table tbody tr{
        width: 100%;
        /* min-width: 310px; */
    }
    
}

@media screen and ( max-width: 350px ){

    .board_faq div{
        min-width: 310px;
    }

    /* body{
        width: 350px;
    } */

    .board_faq article table tbody tr{
        width: auto;
        max-width: 310px;
    }
}