
.protect{
    width: 1100px;
    margin: auto;
}
.protect p{
    text-transform: none;
}

.protect .notice{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 140px;
    background: #ece2d3;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.protect .notice .box{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 138px;
    padding: 26px;
    background: #fff;
    border: 5px solid #ece2d3;
}
.protect .notice .box div{
    min-width: 78px;
    height: 78px;
    background: url(../../../../images/iosf/ko/content/protect/img_protect_78x78.png)no-repeat center/78px 78px;
}
.protect .notice .box p{
    width: 100%;
    padding: 0 20px;
    font: 15px/1.3em "맑은 고딕";
    color: #000;
}


.protect article{
    width: 100%;
    margin-top: 20px;
    padding: 29px 30px 30px;
    border: 1px solid #dbdbdb;
}
.protect article h1{
    font: bold 17px/1.3em "맑은 고딕";
    color: #000;
}

.protect article h1:after{
    content: "";
    display: block;
    margin-top: 15px;
    margin-bottom: 26px;
    width: 58px;
    min-height: 1px;
    background: #830020;
}
.protect article p{
    font: 15px/1.3em "맑은 고딕";
    color: #313131;
}

.protect article dl{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    border-top: 1px solid #8e856d;
    border-bottom: 1px solid #414141;
}

.protect article dl dt,
.protect article dl dd p{
    font:  15px/1.3em "맑은 고딕";
    color: #735231;
    padding: 13px;
    background: #f6f6f6;
}
.protect article dl dt{
    display: flex;
    align-items: center;
}

.protect article dl dt::before{
    content: "";
    display: inline-block;
    min-width: 2px;
    height: 14px;
    background: #910023;
    margin-right: 7px;
    margin-bottom: -1px;
}

.protect article dl dd{
    border-top: 1px solid #e6e6e6;
    display: flex;
}
.protect article dl dd p{
    width: 50%;
    color: #313131;
    background: #ffffff;
}
.protect article dl dd p + p{
    border-left: 1px solid #e6e6e6;
}


/* 3개짜리 리스트 */

.protect article .list{
    display: flex;
    /* flex-wrap: wrap; */
}

.protect article .list dl{
    display: inline-flex;
    width: 100%;
    /* margin-right: 20px; */
    
}
.protect article .list dl ~ dl{
    margin-left: 20px;
}

.protect article .list dl dd{
    display: flex;
    flex-direction: column;
}
.protect article .list dl dd p{
    display: flex;
    align-items: center;
    width: 100%;
}
.protect article .list dl dd p ~ p{
    border-top: 1px solid #e6e6e6;
    border-left: 0 solid #000;
}

.protect article .list dl dd p:before{
    content: "";
    display: inline-block;
    /* vertical-align: middle; */
    min-width: 14px;
    height: 14px;
    margin-right: 7px;
    margin-bottom: -1px;
    background: url(../../../../images/iosf/ko/content/protect/icon_name_14x14.png)no-repeat center/14px 14px;
}

.protect article .list dl dd p.name:before{
    background: url(../../../../images/iosf/ko/content/protect/icon_name_14x14.png)no-repeat center/14px 14px;
}
.protect article .list dl dd p.tel:before{
    background: url(../../../../images/iosf/ko/content/protect/icon_tel_14x14.png)no-repeat center/14px 14px;
}
.protect article .list dl dd p.mail:before{
    background: url(../../../../images/iosf/ko/content/protect/icon_mail_14x14.png)no-repeat center/14px 14px;
}


@media screen and (max-width: 1140px) {

    .protect{
        width: 100%;
    }
    .protect article .list{
        flex-wrap: wrap;
    }
    .protect article .list dl{
        width: calc(50% - 10px);
        /* margin-right: 20px; */
    }
    .protect article .list dl ~ dl{
        margin-left: 20px;
    }
    .protect article .list dl:nth-child(3n){
        margin-left: 0;
    }

}


@media screen and (max-width: 768px) {

    .protect .notice .box{
        flex-direction: column;
    }
    .protect .notice .box div{
        margin-bottom: 20px;
    }
    .protect .notice .box p{
        padding: 0;
    }

    .protect article dl dd{
        flex-direction: column;
    }
    .protect article dl dd p{
        width: 100%;
    }
    .protect article dl dd p ~ p{
        border-top: 1px solid #e6e6e6;
        border-left: 0 solid #000;
    }
    .protect article .list dl{
        width: 100%;
    }
    .protect article .list dl:nth-child(n){
        margin-left: 0;
    }
}


@media screen and (max-width: 350px) {

    .protect{
        min-width: 310px;
    }
}